.visible-sm,
.visible-xs {
	display: none;
}

/* 960
----------------------------------------*/
@media only screen and (max-width:959px){

	.hidden-sm {
		display: none !important;
	}
	.visible-sm {
		display: block;
	}
	.frontend .center--sm {
		max-width: 720px;
	}
	.sm-pull-left {
		float: left;
	}
	.sm-float-none {
		float: none;
	}


	.header {
		background: #fff;
	}
	.header .logo {
		margin-left: 24px;
	}
	.footer__logo {
		margin-right: 35px;
	}
	.footer__menu {
		padding: 0 46px 0 42px;
		overflow: hidden;
		height: auto;
	}
	.footer__menu ul {
		float: none;
		padding: 0;
	}
	.footer__menu ul:first-child {
		padding-bottom: 2px;
	}
	.copyright {
		margin-top: 42px;
		padding: 13px;
	}

	.header--menu-show {
		box-shadow: 0 0 6px rgba(0,0,0,.26);
	}
	.header--menu-show .menu-mobile {
		display: block;
	}
	.menu-mobile .phone-and-callback {
		padding: 21px 15px 41px 41px;
		box-shadow: inset 0 0 6px rgba(0,0,0,.1);
		background: #f7f7f7;
	}
	.menu-mobile__menu {
		position: relative;
		top: -20px;
		padding: 26px 0 6px;
		background: #fff
	}
	.menu-mobile__menu-sep:before {
		height: 1px;
		content: '';
		margin: 12px 16px;
		display: block;
		background: #f7f7f7;
	}
	.menu-mobile__menu a{
		display: block;
		font-size: 16px;
		line-height: 24px;
		color: #515253;
		padding: 8px 13px
	}
	.phone-and-callback__lk {
		width: 32px;
		height: 32px;
		margin-top: 6px;
		position: relative;
		background-color: #bc1212;
	}
	.phone-and-callback__lk .ico{
		top: 4px;
		left: 3px;
	}

.menu-mobile-toggle {
	width: 68px;
	height: 68px;
	margin: 8px 6px;
	position: relative;
}
.menu-mobile-toggle__line {
	position: absolute;
	width: 32px;
	height: 3px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #bc1212;
	-webkit-transition: background-color .4s ease;
	transition: background-color .4s ease;
}
.menu-mobile-toggle__line:after,
.menu-mobile-toggle__line:before {
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	height: 3px;
	content: '';
	background: #bc1212;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.menu-mobile-toggle__line:before {
	top: 10px;
}
.header--menu-show .menu-mobile-toggle__line {
	background-color: transparent;
}
.header--menu-show .menu-mobile-toggle__line:before {
	top: 0;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
.header--menu-show .menu-mobile-toggle__line:after {
	top: 0;
	-webkit-transform: rotate(-225deg);
	transform: rotate(-225deg);
}

	.calcul {
		margin: 35px auto;
	}


	.step3-block {
		padding: 42px 0 60px;
	}
	.step3-block li {
		width: 234px;
	}
	.step3-block li:nth-child(n+2)::after {
		left: -60px;
		width: 120px;
	}
	.reviews-block {
		padding: 46px 0 18px;
	}
	.reviews-block__item {
		float: none;
		margin: auto;
	}
	.reviews-block__item:nth-child(2) {
		display: none;
	}
	.news-block {
		padding: 48px 0 50px;
	}
	.news-block h2 {
		padding-bottom: 38px;
	}
	.news-block__all {
		top: 64px;
	}
	.home .news-block__item:nth-child(1) {
		margin-left: 50px;
	}
	.home .news-block__item:nth-child(3) {
		display: none;
	}

	.subscribe {
		padding: 18px;
	}
	.subscribe__title {
		font-size: 23px;
		line-height: 28px;
		padding-bottom: 32px;
	}

}

/* 768
----------------------------------------*/
@media only screen and (max-width:749px){

.hidden-xs {
	display: none !important;
}
.visible-xs {
	display: block;
}
.frontend .center--sm {
	padding-left: 15px;
	padding-right: 15px;
}
.frontend .center--xs{
	max-width: 320px;
}
.xs-float-none {
	float: none;
}

.footer {
	text-align: center;
	padding-top: 30px;
}
.footer__logo {
	margin: 6px auto;
}
.footer__menu {
	border: 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: 40px 0 30px;
	padding: 28px;
}
.footer .phone-and-callback {
	display: inline-block;
	text-align: left;
}
.social-group-item {
	float: none;
	display: inline-block;
}
.copyright {
	margin-top: 20px;
	padding: 22px 15px;
}
.copyright p:after{
	display: block;
	content: '';
	height: 1px;
	background: #8f9091;
	margin: 24px 0 16px;
}
.footer__developer {
	display: block;
	margin: auto;
}

.step3-block {
	padding: 27px 0 37px;
}
.step3-block li {
	display: block;
	margin: auto;
}
.step3-block li:nth-child(2) {
	margin: 95px auto;
}
.step3-block li::before {
	margin: 10px auto 7px;
}
.step3-block li:nth-child(n+2)::after {
	height: 50px;
	left: 50%;
	top: -66px;
	width: 2px;
	margin: 0 0 0 -1px;
}

.home .news-block {
	padding-top: 45px;
	padding-bottom: 18px;
}
.home .news-block__item {
	float: none;
	margin: 6px auto 10px !important;
}
.home .news-block__link {
	width: auto;
	padding-right: 10px;
}
.subscribe {
	padding: 20px 0;
}
.subscribe__title {
	padding: 7px;
}
.subscribe__input,
.subscribe__btn {
	display: block;
	width: 100%;
	margin: 10px auto;
}

}

/* 680
----------------------------------------*/
@media only screen and (max-width:679px){

.calcul-home {
	padding: 40px 0 22px;
}
.calcul {
	margin: 26px auto;
	width: 290px;
}
.calcul__bg {
	padding: 8px 10px 6px;
}
.calcul__box {
	width: 270px;
}
.calcul__box:first-child {
	padding-bottom: 13px;
}
.calcul__h3 {
	padding-top: 8px;
}
.calcul__slider-box {
	height: 26px;
	padding-top: 16px;
}
.calcul__foot li {
	padding: 0 0 10px;
	min-width: 0
}
.calcul__foot li:nth-child(2) {
	float: right;
}
.calcul__foot {
	padding: 18px 6px 7px 9px;
}
.calcul .btn {
	width: 100%;
	display: block;
	position: static;
}

.reviews-block {
	padding: 0
}
.reviews-block h2 {
	padding: 34px;
}
.reviews-block__item {
	height: auto;
	padding: 145px 10px 30px;
	width: auto;
	text-align: center;
}
.reviews-block__item p {
	padding: 10px;
}
.reviews-block__item img {
	left: 50%;
	margin-left: -42px;
	top: 36px;
}


}

/* 480
----------------------------------------*/
@media only screen and (max-width:479px){

.h1 {
	font-size: 34px;
	line-height: 41px;
}

.header .logo {
	height: 76px;
	width: 170px;
	margin-left: 10px;
}
.menu-mobile-toggle {
	height: 62px;
	margin: 6px 0;
	width: 62px;
}

.calcul-home__p {
	font-size: 20px;
	line-height: 24px;
	padding: 6px 0;
}

.step3-block .h2 {
	padding: 6px 30px;
}

.img-cover--text .center {
	padding: 12px;
}
.img-cover--text .btn--big {
	padding: 0;
	display: block;
	margin: auto;
	max-width: 340px
}

}