/* header
-----------------------------------------------------------------------------*/
.header {
	z-index: 9;
}
.menu-top {
	background: #1a1d1f
}
.menu-top li {
	float: left;
}
.menu-top a {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 43px;
	height: 45px;
	padding: 0 16px;
}
.menu-top li:first-child {
	margin-left: -16px;
}
.menu-top .menu-top__btn {
	float: right;
	width: 174px;
}
.menu-top__btn .btn{
	padding: 0 0 0 25px;
}


.logo {
	height: 85px;
	width: 200px;
	margin-right: 30px;
	display: block;
	background: url(/images/sprite.svg) -20px 0;
}

.menu-header {
	margin: 24px 20px 22px;
	padding: 0 22px;
	height: 38px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}
.menu-header li {
	float: left;
}
.menu-header a {
	color: #515253;
	font-size: 16px;
	line-height: 20px;
	display: block;
	padding: 8px 12px;
}

.header__contact {
	padding-top: 25px;
}
.phone-and-callback {
	padding-left: 30px;
	position: relative;
}
a.phone-and-callback__tel {
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: -.2px;
	position: relative;
}
.phone-and-callback__tel:before {
	position: absolute;
	width: 22px;
	height: 36px;
	top: 2px;
	left: -28px;
	content: '';
	background: url(/images/sprite.svg) -18px -107px;
}
a.phone-and-callback__link {
	font-size: 13px;
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	text-decoration: underline;
}


/* home-slider
-----------------------------------------------------------------------------*/
.calcul-home {
	padding: 115px 0 60px;
	color: #fff;
}
.calcul-home__p{
	font-size: 29px;
	line-height: 36px;
	padding: 15px 0;
	font-weight: 300;
}
.calcul {
	position: relative;
	margin-top: 46px;
}
.calcul__bg {
	padding: 20px;
	background: rgba(26,29,31,.8);
}
.calcul__box {
	width: 440px;
}
.calcul .btn{
	bottom: 16px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 16px;
	width: 224px;
}
.calcul__h3 {
	color: #fff;
	font-size: 16px;
	line-height: 33px;
	font-weight: 400;
	padding-top: 4px;
}
.calcul__input-box {
	width: 107px;
	height: 33px;
	line-height: 33px;
	color: #fff;
	font-size: 16px;
	margin-top: 4px;
	position: relative;
	background: rgba(255,255,255,.2);
}
.calcul__input-box .input {
	height: 33px;
	padding: 0 12px;
	border: 0;
	color: #fff;
	font-size: 16px;
	background: none;
}
.calcul__input-suf {
	font-size: 14px;
	top: 0;
	right: 10px;
	opacity: .7;
	position: absolute;
}
.calcul__slider-box {
	height: 28px;
	position: relative;
	clear: both;
	padding-top: 17px;
}
.calcul__slider {
	height: 4px;
	margin: 0 50px;
	position: relative;
}
.calcul__slider:before {
	position: absolute;
	top: 0;
	left: -50px;
	right: -50px;
	bottom: 0;
	content: '';
	background: #fff;
}
.ui-slider-range {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
.ui-slider-range:before {
	position: absolute;
	top: 0;
	left: -50px;
	bottom: 0;
	right: -10px;
	content: '';
	background: #bc1212;
}
.ui-slider-handle {
	position: absolute;
	width: 102px;
	height: 42px;
	top: -20px;
	z-index: 1;
	font-size: 16px;
	line-height: 42px;
	color: #000;
	text-align: center;
	margin-left: -51px;
	background: #fff;
	border-radius: 21px;
	box-shadow: 0 0 1px rgba(0,0,0.2);
	cursor: pointer;
}
.ui-slider-handle:after,
.ui-slider-handle:before {
	position: absolute;
	width: 16px;
	height: 20px;
	top: 12px;
	left: 8px;
	content: '';
	background: url(/images/sprite.svg) -155px -105px
}
.ui-slider-handle:before {
	left: 76px;
	background-position: -175px -105px
}
.calcul__range {
	color: #888;
	font-size: 12px;
	line-height: 22px;
}
.calcul__foot {
	padding: 30px;
	background: #fff
}
.calcul__foot li{
	float: left;
	color: #515253;
	font-size: 13px;
	line-height: 20px;
	min-width: 220px;
	padding-right: 10px;
}
.calcul__foot-value {
	color: #000;
	font-weight: 700;
	font-size: 16px;
	padding: 0 4px;
}



/* step3-block
-----------------------------------------------------------------------------*/
.step3-block {
	padding: 54px 0;
	text-align: center;
}
.step3-block .h2{
	padding: 6px 0;
}
.step3-block li{
	width: 304px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	display: inline-block;
	vertical-align: top;
	color: #515253;
}
.step3-block li:nth-child(n+2):after{
	position: absolute;
	width: 164px;
	height: 2px;
	top: 80px;
	left: -84px;
	content: '';
	background: #1a1d1f;
}
.step3-block li:before{
	width: 100px;
	height: 100px;
	display: block;
	margin: 26px auto;
	content: '';
	background: url(/images/sprite.svg);
}
.step3-block li:nth-child(1):before{
	background-position: -10px -172px
}
.step3-block li:nth-child(2):before{
	background-position: -145px -172px
}
.step3-block li:nth-child(3):before{
	background-position: -282px -172px
}

/* reviews-block
-----------------------------------------------------------------------------*/
.reviews-block {
	padding: 54px 0 10px;
}
.reviews-block h2 {
	text-align: center;
	color: #fff;
	padding-bottom: 54px;
}
.reviews-block__item {
	width: 460px;
	background: #fff;
	position: relative;
	padding: 34px 30px 34px 138px;
}
.reviews-block__item img{
	position: absolute;
	width: 81px;
	height: 81px;
	top: 76px;
	left: 26px;
	border-radius: 50%;
}
.reviews-block__name {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}
.reviews-block__item p{
	color: #515253;
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	padding: 6px 0;
}

/* news-block
-----------------------------------------------------------------------------*/
.news-block {
	padding: 54px 0 40px;
	position: relative;
}
.news-block h2 {
	text-align: center;
	padding-bottom: 54px;
}
.news-block__item {
	float: left;
	margin: 26px 0;
}
.news-block__item:nth-child(2){
	margin-left: 20px;
}
.news-block__item:nth-child(3){
	float: right;
}
.news-block__link {
	width: 300px;
	display: block;
	background: #f5f5f5;
	position: relative;
	padding: 22px 16px 26px 84px;
}
.news-block__text {
	font-size: 15px;
	line-height: 22px;
	height: 66px;
	color: #000;
	font-weight: 300;
	overflow: hidden;
}
.news-block__date {
	position: absolute;
	top: 30px;
	left: 2px;
	width: 80px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #000;
	font-weight: 300;
}
.news-block__date span{
	display: block;
	width: 40px;
	height: 40px;
	margin: auto;
	border-radius: 50%;
	background: #bc1212;
	font-size: 22px;
	line-height: 40px;
	color: #fff;
}
.news-block__all {
	border-bottom: 1px solid;
	font-size: 13px;
	font-weight: 300;
	line-height: 14px;
	position: absolute;
	right: 0;
	top: 72px;
}
.news-block__all:hover {
	border-bottom-color: transparent;
}
.news-block__all .ico {
	left: -18px;
}

/* breadcrumbs
-----------------------------------------------------------------------------*/
.breadcrumbs{
	padding-bottom: 12px;
}
.breadcrumbs li{
	float: left;
	color: #515151;
	font-size: 12px;
}
.breadcrumbs li:nth-child(n+2):before{
	display: inline-block;
	width: 10px;
	height: 10px;
	content: '';
	margin: 0 7px;
	background: url(/images/sprite.svg) -227px -241px;
}

.pagin {
	font-size: 0;
	text-align: center;
}
.pagin__item {
	display: inline-block;
	margin: 42px 5px;
	vertical-align: top;
}
.pagin__item a{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	display: block;
	font-weight: 400;
	font-size: 16px;
}
.pagin__item--gray a {
	color: #959595;
	background: #f5f5f5;
}
.pagin__item--current a {
	color: #fff !important;
	background: #228fd8
}
.pagin__item--prev a,
.pagin__item--next a {
	background: #eaf4fb url(/images/sprite.svg) -272px -226px;
}
.pagin__item--prev a {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.pagin__item--prev a:hover,
.pagin__item--next a:hover {
	background: #228fd8 url(/images/sprite.svg) -272px -256px;
}


/* subscribe
-----------------------------------------------------------------------------*/
.subscribe {
	text-align: center;
	padding: 30px;
}
.subscribe__title {
	padding-bottom: 30px;
}
.subscribe__input {
	display: inline-block;
	vertical-align: top;
	width: 300px;
}
.subscribe__btn {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	margin-left: 8px;
	font-size: 16px;
	font-weight: 500;
}

/* news__one
-----------------------------------------------------------------------------*/


/* events
-----------------------------------------------------------------------------*/


/* search
-----------------------------------------------------------------------------*/


/* left-menu
-----------------------------------------------------------------------------*/


/* content
-----------------------------------------------------------------------------*/


/* contacts
-----------------------------------------------------------------------------*/


/* accordion
-----------------------------------------------------------------------------*/


/* table-img-desc
-----------------------------------------------------------------------------*/


/* table-img-desc & table-ratings
-----------------------------------------------------------------------------*/


/* people
-----------------------------------------------------------------------------*/
/* article
-----------------------------------------------------------------------------*/


/* footer
-----------------------------------------------------------------------------*/
.footer {
	padding-top: 46px;
}
.footer__logo {
	height: 54px;
	margin: 0 60px 8px 0;
	background-position: -20px -16px
}
.footer__p {
	color: #515253;
	font-size: 12px;
	line-height: 16px;
}
.footer__menu {
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	height: 76px;
	margin-top: 5px;
	padding: 0 74px 0 25px;
	font-size: 14px;
	line-height: 24px;
}
.footer__menu a{
	color: #515253;
}
.footer__menu ul{
	float: left;
	padding-left: 35px;
}

.social-group {
	padding: 10px 0;
}
.social-group-item {
	float: left;
	margin-left: 4px;
	background: url(/images/sprite.svg);
}
.social-group-item a {
	width: 26px;
	height: 26px;
	display: block;
}
.social-group-item--vk {
	background-position: -278px -18px
}
.social-group-item--fb {
	background-position: -318px -18px
}
.social-group-item--gp {
	background-position: -358px -18px
}
.social-group-item--tw {
	background-position: -398px -18px
}
.copyright {
	line-height: 16px;
	font-size: 13px;
	padding: 13px 0;
	color: #fff;
	margin-top: 46px;
	background: #1a1d1f
}
.footer__developer {
	width: 144px;
	height: 20px;
	margin-right: 32px;
	background: url(/images/sprite.svg) -231px -108px;
}