/* header
-----------------------------------------------------------------------------*/
.header {
	z-index: 9;
	box-shadow: 0 0 6px rgba(0,0,0,.1)
}
.menu-top {
	background: #1a1d1f
}
.menu-top li {
	float: left;
}
.menu-top a {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 43px;
	height: 45px;
	padding: 0 16px;
}
.menu-top li:first-child {
	margin-left: -16px;
}
.menu-top .menu-top__btn {
	float: right;
	width: 174px;
}
.menu-top__btn .btn{
	padding: 0 0 0 25px;
}


.logo {
	height: 85px;
	width: 200px;
	margin-right: 30px;
	display: block;
	background: url(/images/sprite.svg) -20px 0;
}

.menu-header {
	margin: 24px 20px 22px;
	padding: 0 22px;
	height: 38px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}
.menu-header li {
	float: left;
}
.menu-header a {
	color: #515253;
	font-size: 16px;
	line-height: 20px;
	display: block;
	padding: 8px 12px;
}

.header__contact {
	padding-top: 25px;
}
.phone-and-callback {
	padding-left: 30px;
	position: relative;
}
a.phone-and-callback__tel {
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: -.2px;
	position: relative;
}
.phone-and-callback__tel:before {
	position: absolute;
	width: 22px;
	height: 36px;
	top: 2px;
	left: -28px;
	content: '';
	background: url(/images/sprite.svg) -18px -107px;
}
a.phone-and-callback__link {
	font-size: 13px;
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	text-decoration: underline;
}


/* home-slider
-----------------------------------------------------------------------------*/
.calcul-home {
	padding: 114px 0 30px;
	color: #fff;
}
.calcul-home__p{
	font-size: 29px;
	line-height: 36px;
	padding: 15px 0;
	font-weight: 300;
}
.calcul {
	position: relative;
	max-width: 650px;
	margin: 60px auto;
}
.calcul__bg {
	padding: 10px 10px 4px;
	background: rgba(26,29,31,.8);
}
.calcul__box {
	width: 300px;
}
.calcul .btn{
	bottom: 10px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 10px;
	width: 198px;
}
.calcul__h3 {
	color: #fff;
	font-size: 16px;
	line-height: 36px;
	font-weight: 400;
}
.calcul__input-box {
	width: 107px;
	height: 33px;
	line-height: 33px;
	color: #fff;
	font-size: 16px;
	position: relative;
	background: rgba(255,255,255,.2);
}
.calcul__input-box .input {
	height: 33px;
	padding: 0 12px;
	border: 0;
	color: #fff;
	font-size: 16px;
	background: none;
}
.calcul__input-suf {
	font-size: 14px;
	top: 0;
	right: 10px;
	opacity: .7;
	position: absolute;
}
.calcul__slider-box {
	height: 24px;
	position: relative;
	clear: both;
	padding-top: 14px;
}
.calcul__slider {
	height: 4px;
	margin: 0 48px;
	position: relative;
}
.calcul__slider:before {
	position: absolute;
	top: 0;
	left: -48px;
	right: -48px;
	bottom: 0;
	content: '';
	background: #fff;
}
.ui-slider-range {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
.ui-slider-range:before {
	position: absolute;
	top: 0;
	left: -48px;
	bottom: 0;
	right: -10px;
	content: '';
	background: #bc1212;
}
.ui-slider-handle {
	position: absolute;
	width: 97px;
	height: 37px;
	top: -17px;
	z-index: 1;
	font-size: 16px;
	line-height: 37px;
	color: #000;
	text-align: center;
	margin-left: -49px;
	background: #fff;
	border-radius: 21px;
	box-shadow: 0 0 1px rgba(0,0,0.2);
	cursor: pointer;
}
.ui-slider-handle:after,
.ui-slider-handle:before {
	position: absolute;
	width: 16px;
	height: 20px;
	top: 9px;
	left: 8px;
	content: '';
	background: url(/images/sprite.svg) -155px -105px
}
.ui-slider-handle:before {
	left: 76px;
	background-position: -175px -105px
}
.calcul__range {
	color: #888;
	font-size: 12px;
	line-height: 22px;
}
.calcul__foot {
	min-height: 70px;
	padding: 16px 20px;
	background: #fff
}
.calcul__foot li{
	float: left;
	color: #515253;
	font-size: 13px;
	line-height: 16px;
	min-width: 150px;
}
.calcul__foot li:first-child{
	min-width: 132px;
}
.calcul__foot-value {
	color: #000;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
}



/* step3-block
-----------------------------------------------------------------------------*/
.step3-block {
	padding: 54px 0;
	text-align: center;
}
.step3-block .h2{
	padding: 6px 0;
}
.step3-block li{
	width: 304px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	display: inline-block;
	vertical-align: top;
	color: #515253;
}
.step3-block li:nth-child(n+2):after{
	position: absolute;
	width: 164px;
	height: 2px;
	top: 80px;
	left: -84px;
	content: '';
	background: #1a1d1f;
}
.step3-block li:before{
	width: 100px;
	height: 100px;
	display: block;
	margin: 26px auto;
	content: '';
	background: url(/images/sprite.svg);
}
.step3-block li:nth-child(1):before{
	background-position: -10px -172px
}
.step3-block li:nth-child(2):before{
	background-position: -145px -172px
}
.step3-block li:nth-child(3):before{
	background-position: -282px -172px
}

/* reviews-block
-----------------------------------------------------------------------------*/
.reviews-block {
	padding: 54px 0 10px;
}
.reviews-block h2 {
	text-align: center;
	color: #fff;
	padding-bottom: 54px;
}
.reviews-block__item {
	width: 460px;
	background: #fff;
	position: relative;
	padding: 34px 30px 42px 138px;
}
.reviews-block__item img{
	position: absolute;
	width: 81px;
	height: 81px;
	top: 76px;
	left: 26px;
	border-radius: 50%;
}
.reviews-block__name {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}
.reviews-block__item p{
	color: #515253;
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	padding: 6px 0;
}

/* news-block
-----------------------------------------------------------------------------*/
.news-block {
	padding: 54px 0 40px;
	position: relative;
}
.news-block h2 {
	text-align: center;
	padding-bottom: 54px;
}
.news-block__item {
	float: left;
	margin: 26px 0;
}
.news-block__item:nth-child(2){
	margin-left: 20px;
}
.news-block__item:nth-child(3){
	float: right;
}
.news-block__link {
	width: 300px;
	display: block;
	background: #f5f5f5;
	position: relative;
	padding: 22px 16px 26px 84px;
}
.news-block__text {
	font-size: 15px;
	line-height: 22px;
	height: 66px;
	color: #000;
	font-weight: 300;
	overflow: hidden;
}
.news-block__date {
	position: absolute;
	top: 30px;
	left: 2px;
	width: 80px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #000;
	font-weight: 300;
}
.news-block__date span{
	display: block;
	width: 40px;
	height: 40px;
	margin: auto;
	border-radius: 50%;
	background: #bc1212;
	font-size: 22px;
	line-height: 40px;
	color: #fff;
}
.news-block__all {
	border-bottom: 1px solid;
	font-size: 13px;
	font-weight: 300;
	line-height: 14px;
	position: absolute;
	right: 0;
	top: 72px;
}
.news-block__all:hover {
	border-bottom-color: transparent;
}
.news-block__all .ico {
	left: -18px;
}

/* breadcrumbs
-----------------------------------------------------------------------------*/
.breadcrumbs{
	padding: 14px 0;
}
.breadcrumbs li{
	float: left;
	color: #948e8e;
	font-size: 13px;
	line-height: 18px;
	font-weight: 300;
	padding-right: 8px;
}
.breadcrumbs a:after{
	content: '';
	display: inline-block;
	margin-left: 10px;
	border-style: solid;
	border-width: 3px 0 3px 3px;
	border-color: transparent #bc1212;
}

/* subscribe
-----------------------------------------------------------------------------*/
.subscribe {
	text-align: center;
	padding: 30px;
}
.subscribe__title {
	padding-bottom: 30px;
}
.subscribe__input {
	display: inline-block;
	vertical-align: top;
	width: 300px;
}
.subscribe__btn {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	margin-left: 8px;
	font-size: 16px;
	font-weight: 500;
}

/* contacts
-----------------------------------------------------------------------------*/
.contacts__address {
	width: 316px;
	color: #fff;
	margin: 92px 225px 40px 0;
}
.contacts__address .h2{
	padding: 4px 0
}
.contacts__address li{
	font-size: 16px;
	line-height: 20px;
	padding: 12px 25px
}
.contacts__address a{
	color: #fff
}
.contacts__address .ico {
	left: -5px;
	top: 10px;
}
.contacts__form {
	padding: 18px;
	width: 316px;
	background: #fff
}
.contacts__form .h4{
	text-align: center;
	padding: 8px 0 25px;
}
.contacts__form .input{
	margin-bottom: 19px;
}
.contacts__form .btn{
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 2px;
}

/* content-flex-center
-----------------------------------------------------------------------------*/
.content-flex-center {
	padding: 108px 0;
	display: flex;
	align-content: center;
}
.content-flex-center .center{
	flex-basis: 940px;
}


/* page-404
-----------------------------------------------------------------------------*/
.page-404__body {
	color: #fff;
	text-align: center;
}
.page-404__body h1{
	font-weight: 500;
	font-size: 174px;
	line-height: 190px;
}
.page-404__body p{
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 48px;
}
.page-404__body .btn{
	font-weight: 400;
}

/* article
-----------------------------------------------------------------------------*/
.article__body {
	background: #f8f8f8;
	padding: 14px 80px;
}
.article__img {
	width: 100%;
	display: block;
}
.article__contant h1{
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
	margin: 4px 0;
}
.article__contant strong{
	color: #1a1d1f;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
.article__contant p{
	color: #000;
	padding-right: 100px;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	margin: 12px 0 24px;
}

/* content
-----------------------------------------------------------------------------*/
.main--bb + footer {
	border-top: 1px solid #efefef;
}

/* nav-page
-----------------------------------------------------------------------------*/
.nav-page {
	text-align: center;
	padding: 30px;
	position: relative;
	box-shadow: 0 0 6px rgba(0,0,0,.1)
}
.nav-page:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -10px;
	content: '';
	background: #fff;
}
.nav-page__item {
	display: inline-block;
	vertical-align: top;
	padding: 6px 35px;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #000;
	height: 33px;
}
.nav-page__item:nth-child(n+2) {
	border-left: 1px solid #f6f6f6;
}
.nav-page__item .ico{
	position: relative;
}

.pagination {
	text-align: center;
	padding: 45px 0;
}
.pagination__item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	line-height: 29px;
	color: #000;
	margin: 0 9px;
}
.pagination__item--active {
	color: #fff;
	background: #bc1212;
	height: 29px;
	width: 31px;
}
.pagination__item--sep:before {
	color: #bc1212;
	content: '...'
}

/* news
-----------------------------------------------------------------------------*/
.news__first {
	margin: 73px 0 95px;
	background: rgba(188,18,18,.76);
	color: #fff;
	max-width: 613px;
	padding: 43px 18px;
}
.news__first p{
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	padding: 10px 50px 20px 1px;
}
.news__first a{
	color: #fff;
	line-height: 20px;
	font-size: 14px;
	margin-left: 3px;
}
.news__first a:after{
	content: '';
	display: inline-block;
	position: relative;
	top: 0;
	left: 5px;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-color: transparent #fff;
}

.news__list .h2 {
	padding: 55px 0 36px;
	text-align: center;
}
.news__box {
	padding: 20px 20px 0;
	background: #f8f8f8;
}
.news__item {
	float: left;
	width: 286px;
	background: #fff;
	margin-bottom: 20px;
}
.news__link {
	display: block;
	padding-bottom: 6px;
	border-bottom: 2px solid #bc1212;
}
.news__item img{
	width: 100%;
	height: 179px;
	display: block;
	margin-bottom: 12px;
}
.news__text {
	overflow: hidden;
	height: 88px;
	padding: 0 20px;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
.news__date {
	color: #fff;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 15px;
	font-size: 10px;
	z-index: 1;
	line-height: 20px;
	background: #bc1212
}
.news__date span{
	display: block;
	padding-top: 5px;
	font-size: 14px;
	height: 18px;
}
.news__item:nth-child(3n+1) {
	clear: both;
}
.news__item:nth-child(3n+2) {
	margin-left: 20px;
}
.news__item:nth-child(3n+3) {
	float: right;
}
.news .subscribe {
	margin-bottom: 58px;
	padding: 46px 0 54px;
	background: #efefef
}
.news .subscribe__input {
	border: 0
}

/* faq
-----------------------------------------------------------------------------*/
.faq__list {
	padding: 22px 78px 80px;
}
.faq__head {
	border-radius: 19px;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	padding: 0 20px;
	text-align: center;
}

.faq__head--active {
	background: #bc1212;
	color: #fff;
	padding: 0 26px;
}
.faq__box-nav {
	padding: 30px 0;
}
.faq__body {
	display: none;
}
.faq__body--active {
	display: block;
}
.faq__body .h2 {
	padding: 15px 0;
}

/* accordion
-----------------------------------------------------------------------------*/
.accordion__item {
	margin: 10px 0;
	position: relative;
}
.accordion__head {
	color: #515253;
	cursor: pointer;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	border-bottom: 1px solid #e1e1e1;
	padding: 16px 40px 30px 0;
}
.accordion__body {
	display: none;
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	color: #000;
}
.accordion__item:before {
	position: absolute;
	width: 18px;
	height: 14px;
	top: 22px;
	right: 0;
	content: '';
	background: url(/images/sprite.svg) -720px -111px;
}
.accordion__item--active {
	padding-bottom: 26px;
}
.accordion__item--active .accordion__head {
	padding-bottom: 20px;
	border-bottom-color: transparent;
}
.accordion__item--active:before {
	background-position: -662px -109px
}
.accordion__item--active .accordion__body {
	display: block;
}

/* about
-----------------------------------------------------------------------------*/
.about__text {
	padding: 30px 0 68px;
}
.about__text .h2 {
	text-align: center;
	padding: 26px;
}
.about__text p {
	float: left;
	width: 50%;
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
}
.about__text p:last-child {
	position: relative;
	left: 20px;
	padding-right: 10px;
}
.about .step4-block {
	margin-bottom: 57px;
}

.step4-block {
	padding: 68px 0 80px;
	background: #f8f8f8;
	text-align: center;
}
.step4-block li{
	width: 25%;
	float: left;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 17px;
	color: #515253
}
.step4-block b{
	display: block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #1a1d1f;
	padding: 16px 0 10px;
}
.step4-block li:before{
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	content: '';
	background: url(/images/sprite.svg);
}
.step4-block li:nth-child(1):before{
	background-position: -17px -403px
}
.step4-block li:nth-child(2):before{
	background-position: -151px -400px
}
.step4-block li:nth-child(3):before{
	background-position: -283px -402px
}
.step4-block li:nth-child(4):before{
	background-position: -408px -400px
}
.step4-block li:nth-child(n+2):after{
	position: absolute;
	width: 90px;
	height: 2px;
	top: 48px;
	left: -50px;
	content: '';
	background: #1a1d1f;
}

.doc-list {
	padding: 34px 0 90px;
}
.doc-list__item {
	border-bottom: 1px solid #e1e1e1;
}
.doc-list__item:first-child {
	border-top: 1px solid #e1e1e1;
}
.doc-list__link {
	max-width: 630px;
	display: table-cell;
	padding: 15px 59px 17px;
	font-size: 14px;
	height: 80px;
	vertical-align: middle;
	line-height: 24px;
}
.doc-list__link a{
	color: #515253;
}
.doc-list__link a:before {
	position: absolute;
	width: 44px;
	height: 44px;
	top: 18px;
	left: -2px;
	content: '';
	background: url(/images/sprite.svg);
}
.doc-list__link a[href$=pdf]:before {
	background-position: -22px -543px
}
.doc-list__size {
	color: #a8a8a8
}
.doc-list__btn {
	height: 38px;
	line-height: 38px;
	position: absolute;
	right: 0;
	top: 21px;
	width: 140px;
}


/* footer
-----------------------------------------------------------------------------*/
.footer {
	padding-top: 45px;
}
.footer__logo {
	height: 54px;
	margin: 0 60px 8px 0;
	background-position: -20px -16px
}
.footer__p {
	color: #515253;
	font-size: 12px;
	line-height: 16px;
}
.footer__menu {
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	height: 76px;
	margin-top: 5px;
	padding: 0 74px 0 25px;
	font-size: 14px;
	line-height: 24px;
}
.footer__menu a{
	color: #515253;
}
.footer__menu ul{
	float: left;
	padding-left: 35px;
}

.social-group {
	padding: 10px 0;
}
.social-group-item {
	float: left;
	margin-left: 4px;
	background: url(/images/sprite.svg);
}
.social-group-item a {
	width: 26px;
	height: 26px;
	display: block;
}
.social-group-item--vk {
	background-position: -278px -18px
}
.social-group-item--fb {
	background-position: -318px -18px
}
.social-group-item--gp {
	background-position: -358px -18px
}
.social-group-item--tw {
	background-position: -398px -18px
}
.copyright {
	line-height: 16px;
	font-size: 13px;
	padding: 13px 0;
	color: #fff;
	margin-top: 46px;
	background: #1a1d1f
}
.footer__developer {
	width: 144px;
	height: 20px;
	margin-right: 32px;
	background: url(/images/sprite.svg) -231px -108px;
}